source https://nuget.org/api/v2

nuget FAKE

nuget DbUp
nuget System.Data.SqlClient
nuget WindowsAzure.Storage
nuget System.Data.SqlClient
nuget Dapper
nuget Dapper.SimpleCRUD


clitool Microsoft.DotNet.Watcher.Tools