source https://nuget.org/api/v2

nuget FAKE

nuget DbUp
nuget System.Data.SqlClient
nuget WindowsAzure.Storage
nuget Dapper
nuget Dapper.SimpleCRUD
nuget CsvHelper


clitool Microsoft.DotNet.Watcher.Tools