button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
}

.search-form {
    margin: 0 auto;
    width: 400px;
    margin-bottom: 10px;
}

.search-form button {
    padding: 6px 10px;
    margin-left: 9px;
    color: black;
    background: #ddd;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.search-form button:hover{
    background: #ccc; 
}

input[type=text] {
    width: 200px;
    padding: 6px;
    margin-top: 8px;
    font-size: 25px;
    border: none;
}

.search-result {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.search-item {
    grid-column: 2;
}