.wineList {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
}

@media (min-width: 620px) {
  .wineList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .wineList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.wineInfoContainer {
  border: solid;
  padding: 5px;
}
