.wine-list {
  display: grid;
  grid-gap: 10px;
}

@media (min-width: 620px) {
  .wine-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .wine-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.wine-info-container {
  background: white;
  border: solid;
  padding: 5px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.col-one {
  grid-column: 1 / 5;
  grid-row: 1;
}

.col-two {
  grid-column: 5;
}

.centered-text {
  text-align: center;
}

.wine-image {
  height: 200px;
}
