.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(117, 190, 218, 0.5);
}

.nav-item {
  padding: 5px;
}